html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    background-color: orange;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}

.has-blue-background{
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background{
    background-color: FFAF7A7;
    border: 1px solid #E38C1E;
    }
